* {
  margin: 5px;
  box-sizing: border-box;
}

body {
  height: 200vh;
  background: #3f3f3f;
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

header {
  background: #2a2a2a;
  padding: 2em 0 2em 0;
}

.main {
  display: flex;
  flex: 1;
}

.left {
  background: #2a2a2a;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

main {
  background: #2a2a2a;
  padding: 3em 0 3em 0;
  flex: 5 5 150px;
}

.right {
  background: #2a2a2a;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

footer {
  background: #2a2a2a;
  padding: 2em 0 2em 0;
}

@media all and (max-width: 550px) {
  .main {
    flex-direction: column;
  }
  main {
    padding: 6em 0 6em 0;
  }
}
